
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Home page */
.homepage-container {
  width: 100%;
}
/*Header*/
.header {
  padding-left: 10px;
  width: auto;
  height: 80px;
  background-color: #677DB7;
  padding-top: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hamburger-menu {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  font-size: 0;
  border: none;
  outline: none;
  background-image: url('./icons/hamburgermenu.png');
  background-color: transparent;
}
#search-bar-input {
  width: 100%;
  padding-left: 10px;
  margin-right: 20px;
  height: 30px;
  font-size: 1em;
  color: #677DB7;
  border-color: #9CA3DB;
  border-radius: 10px;
}
::placeholder {
  color: #677DB7;
}

/*Map Component */
.map-container {
  width: auto;
  height: 100vh;
}
.infoWindow {
  text-align: center;
}
/*List View */
#listview {
  max-width: 414px;
  position: relative;
}
.list-view  {
  position: absolute;
  background-color: #9CA3DB;
  width: 414px;
  height: 100vh;
  top: 0;
  z-index: 4;
  overflow: scroll;
}
.hide-list {
  transition: all 0.3s ease;
  transform: translateX(-414px);
}

.show-list {
  transition: all 0.3s ease;
  transform: translateX(0);
}
.item-list-details {
  height: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.item-list-details-expanded {
  min-height: 100px;
  transition: all 0.3s ease;
  text-align: center;
  line-height: 0.5;
}
.item-list-details-expanded p  {
  font-size: 20px;
}
.item-list-details-expanded span {
  font-size: 20px;
}
.list-item-rating {
  color: #677DB7;
  font-style: bold;
}
.list-item-tip {
  color: #677DB7;
  font-style: italic;
  font-size: 20px;
  line-height: 1;
  padding: 15px;
}
.list-item-image {
  width: 300px;
  height: 250px;
  margin-top: 10px;
}
.result-item-list {
  background-color: white;
  border-radius: 10px;
  padding-inline-start: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}
.result-item-list h2 {
  font-weight: lighter;
  padding-left: 5px;
  margin-bottom: 0px;

}
.results-grid {
  padding: 10px;
}
.down-button {
  display: block;
  width: 20px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  background-image: url('./icons/down-button.png');
  margin-bottom: 1px;
}

.up-button {
  display: block;
  width: 20px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  background-image: url('./icons/up-button.png');
  margin-bottom: 1px;
}

.foursquare {
  background-image: url('./icons/foursquare.png');
  width: auto;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 400px;
  position: relative;
  background-position-x: center;
  background-position-y: bottom;
}
/*for mobile devices */
@media screen and (min-width: 320px) and (max-width: 414px){
  .list-view  {
    width: auto;
  }
  .list-item-image {
    width: 250px;
    height: 200px;
  }
  .list-item-rating {
    font-size: 14px;
  }
  .item-list-details-expanded p {
    font-size: 14px ;
  }
  .item-list-details-expanded span {
    font-size: 14px;
  }
  .foursquare {
    background-size: auto;
  }
}
