.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Home page */
.homepage-container {
  width: 100%;
}
/*Header*/
.header {
  height: 100px;
  background-color: #677DB7;
  padding-top: 1px;
}
.header h3 {
  color: white;
  font-weight: 300;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: space-around;
}
.header button {
  background-color: white;
  text-align: center;
  margin-right: 10px;
  height: 30px;
  width: auto;
  border-radius: 10px;
}
#search-bar-input {
  width: 40%;
  height: 30px;
  font-size: 1em;
  color: #677DB7;
  border-color: #9CA3DB;
  border-radius: 10px;
}
::placeholder {
  color: #677DB7;
}
#search-bar-drop-down {
  height: 30px;
  width: 120px;
  font-size: 1em;
  border-radius: 10px;
  background-color: white;
  color: #677DB7;
  text-align: center;
}

/*Map Component */
.map-container {
  width: auto;
  height: 600px;
}
.infoWindow {
  text-align: center;
}
